#Byte-compiled / optimized
*__pycache__*
*.pyc

# deeprank-generated html
temp-plot*.html

# distribution
deeprank_gnn.egg-info
build/*
dist/*

#intermediary editor files
*~
*.swp

# datafile
*.pdb
*.db
*.izone
*.lzone
*.ref_pairs

# hdf5
*.hdf5
*.tar

# test
htmlcov
.coverage
covergage.xml

# doc
docs/_build
docs/apidocs

# logs
*.log
